.header {
  position: fixed;
  top: 0;
  left: 35px;
  display: flex;
  align-items: center;
  padding: 10px; /* Adjust padding as needed */
  background-color: wheat;
}

.header-image {
  max-width: 100px; /* Adjust the max-width as needed */
}
